#root{
  margin: auto auto;
  background-color: white;
  width: 90%;
  height: 100%;
  padding-bottom: 50px;
}
body{
  background-color: #e27266;
}
.Main{
  font-family: Arial Black, sans-serif;
}
.PokemonImage{
  background-image: url("../images/scene.png");
  position: relative;
  display: table-cell;
  height: 200px;
  width: 200px;
  border: black 2px solid;
  vertical-align: bottom;
  left: 20%;
  overflow: hidden;
}
.Header{
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 3;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-family: Arial Black, sans-serif;
  color: white;
  text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
  background-color: #b5461b;
  padding: 25px;
  font-size: 3em;
  border-bottom: solid 5px black;
}
#left{
  width: 30%;
  float: left;
}
#right{
  width: 20%;
  float: right;
}
#middle{
  width: 40%;
  float: left;
}
#pokemonData{
  margin-top: 150px;
  margin-left: 80px;
  margin-bottom: 50px;
  text-align: center;
  width: 300px;
  background-color: #adadad;
  padding-bottom: 10px;
}
#information{
  width: 100px;
  background-color: #b5461b;
  border: none;
  margin-top: 150px;
  float: right;
  margin-right: 50px;
}
#information th, td {
    border: 1px solid black;
    border: none;
    padding: 3%;
}
#information td{
  background-color: #adadad;
  text-align: center;
  padding-top: 8%;
  padding-bottom: 8%;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: white;
}
#pokedex{
  margin-top: 150px;
  margin-left: 90px;
  background-color: #adadad;
  width: 550px;
}
#pokedex #entry{
  padding: 10px;
}
#stats{
  margin-left: 90px;
  margin-top: 100px;
  background-color: #adadad;
  width: 550px;
  margin-bottom: 100px;
  padding-bottom: 5px;
}
#pokemonInfo{
  width: 100%;
  text-align: left;
}
#pokemonId{
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
border-right: solid black 3px;
float: left;
background-color: #b5461b;
padding-left: 2%;
padding-right: 2%;
margin-right: 2%;
height: 100%;
}
#pokemonName{
  background-color: #e27266;
  font-weight: bold;
  font-family: Arial Black, sans-serif;
  margin-bottom: 8%;
  height: 15%;
}
#typing{
  background-color: #b5461b;
  font-size: .8em;
  height: 50%;
  text-align: center;
}
#forms{
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}
#formSelect{
  border-bottom: solid 1px black;
}
#abilities{
  text-align: left;
  width: 300px;
  background-color: #adadad;
  margin-left: 80px;
  padding-bottom: 3px;
}
#abilities p{
  border-bottom: solid 1px gray;
  list-style-type: none;
  padding: 5px;
}
#evolution{
  width: 550px;
  background-color: #adadad;
  margin-left: 90px;
}
#home{
  text-align: center;
  margin-top: 150px;
  margin-bottom: 500px;
}
#spacer{
  clear: both;
}
.EvoImage{
  vertical-align: middle;
  display: table-cell;
  position: relative;
  overflow: hidden;
}
.EvoImage img{
  margin: 15px;
  float: left;
}
.EvoImage table{
  text-align: center;
}
.EvoMethod{
  margin: 15px;
  float: left;
}
p.StatDiv{
  text-align: center;
}
.StatDiv{
  width: 95%;
  border-bottom: solid 1px gray;
  font-size: .8em;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.StatDiv label{
  width: 15%;
}
.StatBackgroud{
  float: right;
  vertical-align: bottom;
  display: inline-block;
  height: 10px;
  width: 72%;
  background-color: white;
  margin-left: 10px;
}
.Stat{
  width: 1%;
  height: 100%;
  background-color: #b5461b;
}
.AbilityName{
  font-size: 1.1em;
  font-weight: bold;
}
.AbilityDesc{
  font-size: .9em;
  font-style: italic;
}
.DataTitle{
  text-align: center;
  background-color: #b5461b;
  width: 100%;
  height: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.Hidden{
  margin-left: 5px;
  font-size: .7em;
  font-style: italic;
  color: gray;
}
.Selection{
  position: relative;
  left: 0px;
  top: 100px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 15px;
  border-bottom: solid black 2px;
  background-color: white;
}
.Selection select{
  margin-right: 10px;
  display: inline;
  background: white;
   border: solid black 1px;
   border-radius: 20px;
   font-size: 14px;
   height: 29px;
   padding: 5px;
}
.BigCircle{
  position: absolute;
    background: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-self: center;
    vertical-align: middle;
    left: 48%
}
.SmallCircle{
  position: absolute;
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    top: 50%;
   left: 50%;
   margin: -20px 0px 0px -20px;
}
footer{
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  position: absolute;
  left: 0px;
  text-align: center;
  background-color: #b5461b;
  border-top: solid black 2px;
  font-weight: bold;
  clear: both;
}
.Grass{
  border-radius: 20px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: white;
  border: solid white 2px;
  background-color: #058226;
  padding: 5px;
  margin-left: 3px;
}
.Poison{
  border-radius: 20px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: white;
  border: solid white 2px;
  background-color: #8b43a5;
  padding: 5px;
  margin-left: 3px;
}
.Fire{
  border-radius: 20px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: white;
  border: solid white 2px;
  background-color: #e08d3a;
  padding: 5px;
  margin-left: 3px;
}
.Flying{
  border-radius: 20px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: white;
  border: solid white 2px;
  background-color: #9fc1ce;
  padding: 5px;
  margin-left: 3px;
}
.Water{
  border-radius: 20px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: white;
  border: solid white 2px;
  background-color: #0074D9;
  padding: 5px;
  margin-left: 3px;
}
.Dragon{
  border-radius: 20px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: white;
  border: solid white 2px;
  background-color: #60177a;
  padding: 5px;
  margin-left: 3px;
}
.Bug{
  border-radius: 20px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: white;
  border: solid white 2px;
  background-color: #578232;
  padding: 5px;
  margin-left: 3px;
}
.Normal{
  border-radius: 20px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: white;
  border: solid white 2px;
  background-color: #b2b2b2;
  padding: 5px;
  margin-left: 3px;
}
.Dark{
  border-radius: 20px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: white;
  border: solid white 2px;
  background-color: #2d2d2d;
  padding: 5px;
  margin-left: 3px;
}
.Electric{
  border-radius: 20px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: white;
  border: solid white 2px;
  background-color: #d9ed44;
  padding: 5px;
  margin-left: 3px;
}
.Psychic{
  border-radius: 20px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: white;
  border: solid white 2px;
  background-color: #e77bed;
  padding: 5px;
  margin-left: 3px;
}
.Ground{
  border-radius: 20px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: white;
  border: solid white 2px;
  background-color: #875c08;
  padding: 5px;
  margin-left: 3px;
}
.Ice{
  border-radius: 20px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: white;
  border: solid white 2px;
  background-color: #7adee8;
  padding: 5px;
  margin-left: 3px;
}
.Steel{
  border-radius: 20px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: white;
  border: solid white 2px;
  background-color: #969696;
  padding: 5px;
  margin-left: 3px;
}
.Fighting{
  border-radius: 20px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: white;
  border: solid white 2px;
  background-color: #8c3804;
  padding: 5px;
  margin-left: 3px;
}
.Rock{
  border-radius: 20px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: white;
  border: solid white 2px;
  background-color: #7f5c2c;
  padding: 5px;
  margin-left: 3px;
}
.Ghost{
  border-radius: 20px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: white;
  border: solid white 2px;
  background-color: #3e2563;
  padding: 5px;
  margin-left: 3px;
}
.Fairy{
  border-radius: 20px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: white;
  border: solid white 2px;
  background-color: #fca9db;
  padding: 5px;
  margin-left: 3px;
}
